.main-content-activities{
    display: grid;
    row-gap: 30px;
}

.main-content-activities h1{
    margin-left: 0;
}

.activitie-container{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.activitie-container img {
    width: 100%;

}
