/* Base Styles */
nav {
    display: flex;
    padding: 16px 30px 0 30px;
}

nav > article {
    margin: 0;
}

.villagio_icon > a {
    font-size: 2rem;
    font-weight: 700;
}

.villagio_link_item{
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 100%;
}

.villagio_link_item section {
    margin: 0;
}

.villagio_link_item section > ul {
    display: flex;
    gap: 16px;
}

.villagio_link_item ul li a {
    font-size: 1rem;
    padding: 12px 0;
    display: block;
}

.villagio_link_item section:nth-child(2) {
    display: flex;
    gap: 16px;
}

.btn-group {
    display: flex;
    column-gap: 10px;
}

.btn-group img {
    width: 50px;
    height: 50px;
}

.btn-group button {
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-item {
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0;
    cursor: pointer;
}

.btn-group .dropdown-menu {
    left: -210%;
}

.menu-hamburger {
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    nav {
        flex-direction: column;
    }

    nav section {
        margin: 0;
    }

    nav article section > ul {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin: 10px 0;
        width: 100%;
    }

    nav section > ul li {
        margin: 0;
        border-top: 1px solid #718096;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        left: 0;
        top: auto;
        min-width: 100%;
        box-shadow: none;
        border: none;
    }

    .dropdown-item {
        padding: 12px 16px;
        color: black;
        text-decoration: none;
        display: block;
        white-space: normal;
        word-wrap: break-word;
    }

    .dropdown-item:hover {
        background-color: #a0aec0;
    }

    /* Center the dropdown items and create space between text and arrow */
    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .villagio_link_item section:nth-child(2) {
        flex-direction: column;
        gap: 16px;
    }

    .villagio_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .villagio_icon a {
        font-size: 2rem;
        font-weight: 700;
    }

    .menu-hamburger {
        display: block;
        cursor: pointer;
    }

    .menu-hamburger a {
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 10px;
    }

    .menu-hamburger .fa-x {
        display: none;
    }

    .menu-hamburger.active .fa-bars {
        display: none;
    }

    .menu-hamburger.active .fa-x {
        display: inline-block;
    }

    /* Ensure visibility of menu when open */
    .villagio_link_item.is-visible {
        display: block;
    }

    .villagio_link_item {
        display: none;
    }
}
