img{
    width: 100%;
    height: 50vh;
}

.villa-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin-bottom: 20px;
}

.villa-search section{
    width: 100%;
}

.villa-search-title {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.villa-search-title h1{
    margin: 0;
}
.villa-search-title p{
    margin: 0;
}
