.template main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.template main article img {
    width: 100%;
    height: 400px;
}

.image-card{
    margin-top: 30px;
}
/*#####################################################"*/
.reservation-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin:0;
}

.reservation-form section {
    margin: 0;
}

.reservation-form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reservation-form div:last-child{
    margin-top: 10px;
}

.reservation-form div label{
    margin: 0;
}
/*###################################################################*/

aside {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

aside section{
    margin-left: 0;
    margin-right: 0;
}

aside section div.regionbtn{
    display: flex;
    column-gap: 10px;
}

aside section div.regionbtn button{
    background-color: var(--white);
    border: 1px solid #EEEDEB;
}

aside section div.regionbtn button:hover{
    background-color: #006989;
    color: white;
}

aside img{
    width: 100%;
    height: 50%;
}
